.controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}
.controls label {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--control-color);
    cursor: pointer;
}

#slide1:checked ~ .controls label:nth-child(1) {
    background-color: var(--accent-color);
}
#slide2:checked ~ .controls label:nth-child(2) {
    background-color: var(--accent-color);
}
#slide3:checked ~ .controls label:nth-child(3) {
    background-color: var(--accent-color);
}
#slide4:checked ~ .controls label:nth-child(4) {
    background-color: var(--accent-color);
}