.slider-wrapper {
    max-width: 600px;
    padding: 20px;
    border: 1px solid white;
}
.slider-wrapper input[type="radio"] {
    display: none;
}
.slide {
    display: none;
}

#slide1:checked ~ .slides-container .slide:nth-child(1){
    display: block;
}

#slide2:checked ~ .slides-container .slide:nth-child(2){
    display: block;
}

#slide3:checked ~ .slides-container .slide:nth-child(3){
    display: block;
}

#slide4:checked ~ .slides-container .slide:nth-child(4){
    display: block;
}